:root {
  --background-color: #f1f3f1;
  --background-light-color: #e3f8e8;
  --color-dark-white: #e5e7ea;
  --text-color: #0D0D0D;
  --text-lighter-color: #373738;
  --color-grey: #636365;
  --color-light-grey: #9f9fa1;
  --color-blue: #5E88BF;
  --color-dark-blue: #083b7c;
  --color-accent: #10BF0A;
  --color-accent1: #0DF205;
  --color-beg: #BF7839;
  --color-yellow: #FFD831;
  --color-beg-light: #f6f2ee;
  --color-braun: #8C583A;
}